Source: linux-4.18.6-lumia-950xl-uefi
Section: kernel
Priority: optional
Maintainer: imbushuo <imbushuo@lumia-bldag-bl1.dorm.network.littlemoenew.com>
Build-Depends: bc, kmod, cpio
Homepage: http://www.kernel.org/

Package: linux-image-4.18.6-lumia-950xl-uefi
Architecture: arm64
Description: Linux kernel, version 4.18.6-lumia-950xl-uefi
 This package contains the Linux kernel, modules and corresponding other
 files, version: 4.18.6-lumia-950xl-uefi.

Package: linux-headers-4.18.6-lumia-950xl-uefi
Architecture: arm64
Description: Linux kernel headers for 4.18.6-lumia-950xl-uefi on arm64
 This package provides kernel header files for 4.18.6-lumia-950xl-uefi on arm64
 .
 This is useful for people who need to build external modules

Package: linux-libc-dev
Section: devel
Provides: linux-kernel-headers
Architecture: arm64
Description: Linux support headers for userspace development
 This package provides userspaces headers from the Linux kernel.  These headers
 are used by the installed headers for GNU glibc and other system libraries.

Package: linux-image-4.18.6-lumia-950xl-uefi-dbg
Section: debug
Architecture: arm64
Description: Linux kernel debugging symbols for 4.18.6-lumia-950xl-uefi
 This package will come in handy if you need to debug the kernel. It provides
 all the necessary debug symbols for the kernel and its modules.
